<%= form_for @user do |f| %>
    <%= f.label 'username' %> 
    <%= f.text_field :username %> <br />
    <%= f.label 'email' %>
    <%= f.text_field :email %> <br />
    <%= f.label 'password' %>
    <%= f.password_field :password %> <br />
    <%= f.submit %> 
<% end %>

<% if @user.errors.messages.length > 0 %>
    <ul>
    <% @user.errors.full_messages.each do |item| %>
        <li> <%= item %>
        </li>
    <% end %>
    </ul>
<% end %>